* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.About-bgSection:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url("../assets/Background2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}